/*#### RESET CSS ####*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*#### MAIN ####*/
main {
  display: flex;
  justify-content: center;
}

#mainbox {
  display: flex;
  width: 727px;

  align-content: center;
  align-items: center;
  height: 336px;
  background: lightblue;
}
